#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  margin-top: 2em;
}

.svg1 { width: 200px;  height: 200px; display: block; margin: 1em 0; fill: transparent; }
.svg1 path { stroke: #134fc0; /* .svg1 .book { stroke: aquamarine; } */ }
.svg1:hover { cursor: pointer; }
.svg1:hover path { stroke: #336fdd; }

