#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  margin-top: 2em;
}

.svg1 {  border: solid 1px red;  width: 200px;  height: 200px; display: block; margin: 1em 0; fill: none; }
.svg1 .book { stroke: red; }
.svg1 path { stroke: red; }

